<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.susyimes.dynamicgallerylib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".GalleryParent"
            android:theme="@style/photo_viewpager"
            ></activity>
    </application>

</manifest>